.App {
  
  color: antiquewhite;
  font-family: 'Libre Baskerville', serif;
}

body {
  background-color: #333;
  padding: 30px;
}

.nav-bar-flex {
  display: flex;
  background-color: blanchedalmond;
  padding: 0px 20px;
  
}

.span-style {
  margin-right: 25px;
}

.link-style {
  text-decoration: none;
  font-weight: 300;
  font-family: 'Libre Baskerville', serif;
  color: darkolivegreen;
}

.selected {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  color: darkolivegreen;
  background-color: blanchedalmond;
}

.notSelected {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  border: solid blanchedalmond 3px;
}

.tabDisplay {
  display: inline-block;
  width: 375px;
  height: 100px;
  margin: 20px;
  padding-top: 60px;
  color: darkolivegreen;
  background-color: blanchedalmond;
  text-align: center;
}

.completed {
  text-decoration: line-through;
  
}

.notCompleted {
  text-decoration: none;
  
}